body {
    font-family: 'Lexend Exa', sans-serif;
}

/*main section containers*/


.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: black;
}

.main-container {
    height: 100vh;
    background: url(../assets/images/suisse.jpg) no-repeat bottom right fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 700px 800px;
}

.about-container {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #444444;
    color: white;


}

.pictures-container {
    Padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: black;
    background-size: cover;
    color: white;
}

.videos-container {
    Padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background-color:#444444;
    color:white;
}

.music-container {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color:black;
    color:white;

}
.playlists{
    padding-top: 20px;
}
.contact-container {
    Padding-top: 150px;
    padding-bottom: 150px;
    background: url(../assets/images/whiteback.jpg) no-repeat bottom right fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}


.footer-container {

    padding-top: 150px;
    padding-bottom: 150px;

}

/*media breaks*/
@media (min-width: 992px) and (max-width: 3000px) {
    .titles{
        font-size:50px;
    }
    .main-container {
        height: 100vh;
        -webkit-background-size: 900px 900px;
        -moz-background-size: 900px 900px;
        -o-background-size: 900px 900px;
        background-size: 900px 900px;
        background-position: center center;
        background-color: black;
    }

    .about-container {
        padding-top: 200px;
        padding-bottom: 200px;
        font-size: large;
        text-align: left;
        background: url(../assets/images/mono.jpg) no-repeat bottom right fixed;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .videos-container{
       padding-top:150px;
       padding-bottom:150px;
        background: url(../assets/images/suisse2.jpg) no-repeat bottom right fixed;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color:black;
        font-size: xx-large;

    }
    .music-container{
        padding-top:100px;
        padding-bottom:100px;

    }

    .playlists{
        padding-top: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-text {
        display: none;
    }

    .main-container {
        -webkit-background-size: 900px 900px;
        -moz-background-size: 900px 900px;
        -o-background-size: 900px 900px;
        background-size: 900px 900px;
        background-position: center center;
        background-color: black;
    }

}
