body {
    font-family: 'Lexend Exa', sans-serif;
}

/*main section containers*/
.navbar-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;

}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: black;
}

.main-container {
    height: 100vh;
    background: url(../assets/images/suisse.jpg) no-repeat bottom right fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 700px 800px;
}

.about-container {
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    background-color: #444444;
    color: white;
}

.pictures-container {
    Padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}

.videos-container {
    Padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}

.music-container {
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}

.contact-container {
    Padding-top: 150px;
    padding-bottom: 150px


}


.footer-container {

    padding-top: 150px;
    padding-bottom: 150px;

}

/*media breaks*/
@media (min-width: 992px) and (max-width: 1800px) {
    .main-container {
        height: 100vh;
        -webkit-background-size: 900px 900px;
        -moz-background-size: 900px 900px;
        -o-background-size: 900px 900px;
        background-size: 900px 900px;
        background-position: center center;
        background-color: black;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-text {
        display: none;
    }

    .main-container {
        -webkit-background-size: 900px 900px;
        -moz-background-size: 900px 900px;
        -o-background-size: 900px 900px;
        background-size: 900px 900px;
        background-position: center center;
        background-color: black;
    }

}
